*{
    box-sizing: border-box;
}

.App{
    background: radial-gradient(rgb(60, 5, 27), black);
    align-items: center;
    height: 100%;
}

.add-message{
    width: 60%;
    display: flex;
    flex-direction: column;
    background:rgb(60, 5, 27);
    border-radius: 30px;
    border: 1px solid black;
}

.message{
    border-radius: 20px ;
    background: rgb(0, 231, 134);
}

.valid{
    display: none;
}

.error{
    display: block;
}

@media (max-width: 768px){
    .add-message{
        width: 95%;
    }
}